<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SedeRotacionSVT</servlet-name>
        <servlet-class>model.rotacioncampo.servlets.SedeRotacionSVT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaRotacionSVT</servlet-name>
        <servlet-class>model.rotacioncampo.servlets.GuardaRotacionSVT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeSVT</servlet-name>
        <servlet-class>model.rotacioncampo.servlets.SedeSVT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspecialidadSVT</servlet-name>
        <servlet-class>model.rotacioncampo.servlets.EspecialidadSVT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidenteSVT</servlet-name>
        <servlet-class>model.rotacioncampo.servlets.ResidenteSVT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetaSVT</servlet-name>
        <servlet-class>model.rotacioncampo.servlets.MetaSVT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaRotacionSVT</servlet-name>
        <servlet-class>model.rotacioncampo.servlets.EliminaRotacionSVT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SedeRotacionSVT</servlet-name>
        <url-pattern>/sedeRotacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaRotacionSVT</servlet-name>
        <url-pattern>/guardaRotacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeSVT</servlet-name>
        <url-pattern>/sede</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspecialidadSVT</servlet-name>
        <url-pattern>/especialidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidenteSVT</servlet-name>
        <url-pattern>/residente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetaSVT</servlet-name>
        <url-pattern>/meta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaRotacionSVT</servlet-name>
        <url-pattern>/eliminaRotacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
